@import "../styling/variables.css";

.nav__container {
  padding: 0 2rem;
  /* box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1);
  moz-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1); */
  min-width: 100%;
}

.dark {
  color: var(--yellow);
}

.light {
  color: var(--darkmode-navy);
}

.items {
  padding-left: 1rem;
}

.sub__items {
  font-size: 1.7rem;
  border: 1px solid red;
}

.items,
.sub__items {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
}

.navbar__container {
  border: 1px solid transparent;
}

.navlinks > * {
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  border-bottom: 2px solid transparent;
  /* border: 1px solid rgb(218, 218, 218); */
}

.navlinks > *:hover {
  border-bottom: 2px solid var(--teal);
}
