@import "../styling/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,700&display=swap");

.nav__container {
  padding: 0 2rem;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  webkit-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1);
  moz-box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.1);
}

.toggle {
  background-color: white;
}

.dark {
  color: var(--white);
}

.light {
  color: var(--darkmode-navy);
}

.items {
  font-size: 2rem;
  padding-left: 1rem;
}

.sub__items {
  font-size: 1.7rem;
}

.items,
.sub__items {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar__container {
  border: 1px solid transparent;
}
