@import "../../UI/styling/variables.css";

.details__container {
  position: relative;
  /* top: 50px; */
  max-width: 2000px;
  margin: 0 auto;
  /* border: 3px solid red; */
  padding: 1rem;
  min-height: 100vh;
}

.details__header {
  margin-top: 5rem;
}

.details__header .address {
  font-size: 1.7rem;
}

.details__header h1 {
  font-weight: 600;
}

.details__header .review__plusicon {
  font-size: 2rem;
  margin-left: 0.5rem;
  color: rgb(61, 61, 61);
}

/* THE ENTIRE REVIEW SECTION CONTAINER */
.main__content {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}

.filter__container {
  border-radius: var(--border-radius);
  outline: 2px solid rgba(216, 216, 216, 0.5);
  min-width: 180px;
  padding: 0.5rem;
  flex: 0 0 10rem;
}

.filter__container h2 {
  /* border-bottom: 1px solid; */
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  /* color: rgb(143, 143, 143); */
}

.filter__container h2 img {
  margin-right: 0.2rem;
  width: 3.2rem;
}

.filters {
  height: 600px;
}

.filters .starfilter {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.filters .starfilter h3,
.filters .recommended h3 {
  font-size: var(--paragraph);
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.checkbox label {
  /* border: 1px solid red; */
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.filters .recommended {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.reviews__section {
  margin-left: 1rem;
  width: 100%;
  /* border: 1px solid red; */
  flex: 3 1 80rem;
}

/* EACH INDIVIDUAL REVIEW */
.review__container {
  position: relative;
  min-height: 200px;
  /* border: 1px solid red; */
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.classof {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.classof img {
  width: 2.6rem;
  margin-left: 0.5rem;
}

.classof h3 {
  margin: 0;
  font-size: var(--paragraph);
}

.review {
  padding: 0.5rem 0 1rem 0;
  /* border: 1px solid red; */
  font-size: var(--paragraph);
}

.recommended {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.recommended p {
  font-size: var(--paragraph);
  margin: 0 0 0 0.5rem;
}

.recommended img {
  width: 2.5rem;
}

.tags {
  display: flex;
}

.tags > * {
  border: 1px solid;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  margin-right: 1rem;
}

.stars {
  /* border: 1px solid red; */
  font-size: 2rem;
}

.norating {
  /* border: 1px solid red; */
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.norating .cat {
  margin: 1rem;
  max-width: 20rem;
}

.norating p {
  font-family: var(--shrikhand);
  font-size: 4rem;
}

@media only screen and (max-width: 880px) {
  .filter__container {
    min-width: 100%;
    padding: 0.5rem;
    margin: 0 0 1rem 0rem;
    border: 1px solid rgb(194, 194, 194);
  }

  .reviews__section {
    margin: 0;
  }

  .filter__container {
    /* border: 1px solid red; */
  }

  .filters {
    display: flex;
    /* border: 1px solid red; */
  }

  .filters .starfilter,
  .filters .recommended {
    margin: 0;
    /* border: 1px solid red; */
    padding: 1rem;
  }

  .filters .starfilter {
    /* border: 1px solid red; */
  }

  .filters.open {
    height: 150px;
  }

  .filters.closed {
    display: none;
  }
}
