@import "./variables.css";

.error__container {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.error__container--text {
  text-align: center;
  border: 1px solid red;
  width: 50%;
}

.error__container--icon {
  border: 1px solid red;
  width: 50%;
}

.error__container--text h1 {
  color: var(--teal);
  font-size: 7rem;
  font-family: var(--shrikhand);
}

.error__container--text p {
  font-size: 2rem;
}

.error__container--text ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: underline;
  font-size: 1.5rem;
}

.error__container--text ul li {
  margin: 1rem;
  display: inline;
  cursor: pointer;
}

.error__container img {
  min-width: 65rem;
  width: 100%;
  border: 1px solid orange;
}
