@import "./variables.css";

.main__section--container {
  position: relative;
  top: 35px;
  max-width: var(--max-navbar-mainsection-width);
  width: 100%;
  margin: 0 auto 3.5rem auto;
  display: flex;
  flex-wrap: wrap-reverse;
  /* display: grid;
  grid-template-columns: repeat(2, 50vw); */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  min-height: 50vh;
}

.light {
  /* background-image: url("../../assets/schoolday.png"); */
}

.dark {
  /* background-image: url("../../assets/schoolnight.jpg"); */
}

.main__section--h1 {
  text-align: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.5rem;
}

.left__box {
  padding: 1rem;
  /* border: 3px solid red; */
  width: 50%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left__box img {
  max-width: 200px;
  width: 100%;
  /* border: 1px solid red; */
}

.left__box--text {
  text-align: center;
  /* border: 1px solid red; */
  max-width: 450px;
}

.left__box--text .discover {
  font-size: 6rem;
  font-family: var(--shrikhand);
  color: var(--teal);
}

.left__box--text p {
  font-size: 1.5rem;
  font-weight: 500;
}

.right__box {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* width: 100%; */
  /* border: 3px solid red; */
  min-height: 100%;
}

.right__box--text {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
  width: 100%;
}

.right__box--text h1 {
  color: var(--teal);
  font-family: var(--poppins);
  font-style: italic;
  font-weight: 900;
}

.input__container {
  width: 60%;
  /* border: 1px solid red; */
  position: relative;
}

.input {
  padding: 0.3rem 0 0.3rem 3.5rem;
  border: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  font-size: 1.5rem;
  width: 100%;
}

.input:focus {
  border: none;
  outline: none;
}

.input__container img {
  position: absolute;
  left: 10px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
}
