@import "./Components/UI/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%; /* 1 rem === 10px */
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--white);
  background-color: var(--darkmode-navy);
}

.App {
  background-color: transparent;
  min-height: 100vh;
  margin: 0 auto;
  /* REMOVED WHITE SPACE FROM BOTTOM OF PAGE */
  /* overflow: hidden; */
}

.dark {
  background-color: var(--darkmode-navy);
}

.light {
  background-color: var(--white);
}
