@import "./variables.css";

.main__boxes--container {
  position: relative;
  top: 71px;
  width: 100%;
  /* border: 3px solid red; */
}

.boxes__container {
  /* position: relative;
  top: 71px; */
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: var(--max-width);
  min-height: 44vh;
}

.box {
  font-size: 1.5rem;
  text-align: center;
  /* border: 1px solid red; */
  max-width: 300px;
  width: 100%;
  margin: 3rem 5rem;
  /* color: var(--darkmode-navy); */
}

.box h1 {
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  .box {
    margin: 3rem 0;
  }
}
