@import "./variables.css";

.navbar {
  width: 100%;
}

.nav__container {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  z-index: 99999999;
  /* outline: 1px solid red; */
}

.background__light {
  background-color: var(--white);
}

.background__dark {
  background-color: var(--darkmode-navy);
}

.logo {
  width: 310px;
  margin-right: auto;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.nav__menu--dark {
  color: white;
}

.nav__menu--light {
  color: var(--darkmode-navy);
}

.nav__menu li {
  padding: var(--btn-padding);
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: var(--border-radius);
}

/* .nav__menu li:not(:last-child) {
  margin-right: 1rem;
} */
.nav__menu li {
  margin-right: 1rem;
}

/* SELECT ONLY FIRST TWO LIST ITEMS */
.nav__menu li:hover:nth-last-child(n + 3) {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav__menu li:active:nth-last-child(n + 3) {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav__menu li a {
  background-color: var(--teal);
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  color: var(--white);
  text-decoration: none;
}

/* .nav__menu::nth-last-child(n + 5) {
  border: 1px solid red;
  background-color: var(--yellow);
} */

#login {
  color: black;
  background-color: #ffe251 !important;
}

.nav__menu li a:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav__menu li a:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}
