@import "./variables.css";

.navbar {
  width: 100%;
  /* border: 1px solid red; */
}

.nav__container {
  background-color: var(--white);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  z-index: 99999999;
  /* outline: 1px solid red; */
}

.logo {
  width: 310px;
  margin: 0 auto 0 0rem;
  color: var(--teal);
}

.nav__menu {
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
}

.nav__menu li {
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 3px;
}

/* .nav__menu li:not(:last-child) {
  margin-right: 1rem;
} */
.nav__menu li {
  margin-right: 1rem;
}

/* SELECT ONLY FIRST TWO LIST ITEMS */
.nav__menu li:hover:nth-last-child(n + 3) {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav__menu li:active:nth-last-child(n + 3) {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav__menu li a {
  background-color: var(--teal);
  border-radius: 3px;
  padding: 0.3rem 1rem;
  color: var(--white);
  text-decoration: none;
}

.nav__menu li a:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav__menu li a:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}
