/* RED: #E83151 */
/* RED 2: #FF4646 */
/* TEAL: #00C49A */
/* VERY DARK NAVY GOES WITH RED DARK MODE: #071013 */
/* WHITE FOR LIGHT MODE: #FEFFF1 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  /* COLORS */
  --max-width: 1800px;
  --white: #fefff1;
  --teal: #00c49a;
  --teal-active: #00b991;
  --yellow: #f4e285;
  --darkmode-navy: #071013;
  --error-red: #ff4646;
  --button-blue: #2196f3;
  --button-blue-clicked: #1e88e5;

  --border-radius: 2px;
  --btn-padding: 0.3rem 1rem;
}

/* yellow FFDC2F */
